body {
    background: rgb(174,227,238);
    background: radial-gradient(circle, rgba(174,227,238,1) 0%, rgba(148,233,210,1) 92%);
}
section {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.card{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(190, 190, 190, 0.605);
    background-color: #d4f5f2;
}
#jokePrint{
    margin: 40px;
}
button {
    color: white;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: rgb(39, 198, 198);  
}
button:hover{
    box-shadow: 0 0 0 4px rgba(39, 198, 198, 0.564);
}