@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');
body {
    font-family: 'Assistant', sans-serif;
    background: radial-gradient(circle, rgba(174,227,238,1) 0%, rgba(148,233,210,1) 92%);
}
section {
    position: relative;
    display: flex;
    justify-content: center;
}
.card{
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: fit-content;
    border-radius: 10px;
    background: transparent;
}
.blob{
    top: 0px;
    position: absolute;
    background-image: url('/img/blob-back2.png');
    width: 600px;
    height: 600px;
    background-size: cover;
}
.mini-blob{
    right: 30px;
    position: absolute;
    background-image: url('/img/mini-blob.png');
    width: 200px;
    height: 145.92px;
    background-size: cover;
}
.mini-blob2{
    left: 30px;
    bottom: -200px;
    position: absolute;
    background-image: url('/img/mini-blob2.png');
    width: 138.07px;
    height: 128.85px;
    background-size: cover;
}
.weather{
    display: flex;
    align-items: center;
}
#jokePrint{
    margin: 40px 20px 40px 20px;
}
.ranking{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}
#bad,#medium,#good{
    width: 50px;
    border-radius: 50%;
}
#bad:hover, #good:hover, #medium:hover{
    box-shadow: 0 0 0 4px rgba(185, 175, 36, 0.793);
}
button {
    color: white;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: rgb(36, 173, 173);  
}
button:hover{
    box-shadow: 0 0 0 4px rgba(82, 197, 197, 0.597);
}